.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background-color: #000000 !important;
    color: #FFFFFF !important;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
    background-color: #000000;
    border-color: #666666;
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background-color: #444444;
    border-color: #666666;
}

.panel-default > .panel-heading {
    background-color: #000000;
    color: #FFFFFF;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
}

/*!
 * ui-grid - v3.0.0-rc.21-c0d9b48 - 2015-05-19
 * Copyright (c) 2015 ; License: MIT 
 */

.ui-grid-render-container {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #aaaaaa;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #f3f3f3;
}
.ui-grid-row:last-child .ui-grid-cell {
  border-bottom-color: #000000;
  border-bottom-style: solid;
}
.ui-grid-no-row-overlay {
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(1, #eeeeee));
  background: -ms-linear-gradient(bottom, #cccccc, #eeeeee);
  background: -moz-linear-gradient(center bottom, #cccccc 0%, #eeeeee 100%);
  background: -o-linear-gradient(#eeeeee, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid #000000;
}

.ui-grid-cell {
  background-color: inherit;
  border-right: 1px solid;
  border-color: #000000;
}
.ui-grid-cell:last-child {
  border-right: 0;
}
.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
  background-color: #f0f0ee;
  border-bottom: solid 1px #000000;
}
.ui-grid-footer-panel-background {
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(1, #eeeeee));
  background: -ms-linear-gradient(bottom, #cccccc, #eeeeee);
  background: -moz-linear-gradient(center bottom, #cccccc 0%, #eeeeee 100%);
  background: -o-linear-gradient(#eeeeee, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
}
.ui-grid-footer-panel {
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(1, #eeeeee));
  background: -ms-linear-gradient(bottom, #cccccc, #eeeeee);
  background: -moz-linear-gradient(center bottom, #cccccc 0%, #eeeeee 100%);
  background: -o-linear-gradient(#eeeeee, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
  -webkit-border-top-right-radius: -1px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: -1px;
  -moz-border-radius-topright: -1px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: -1px;
  border-top-right-radius: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: -1px;
}
.ui-grid-footer-cell {
  background-color: inherit;
  border-right: 1px solid;
  border-color: #000000;
}
.ui-grid-footer-cell:last-child {
  border-right: 0;
}
input[type="text"].ui-grid-filter-input {
  border: 1px solid #000000;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
input[type="text"].ui-grid-filter-input:hover {
  border: 1px solid #000000;
}
.ui-grid-group-panel {
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(1, #eeeeee));
  background: -ms-linear-gradient(bottom, #cccccc, #eeeeee);
  background: -moz-linear-gradient(center bottom, #cccccc 0%, #eeeeee 100%);
  background: -o-linear-gradient(#eeeeee, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
  border-bottom: 1px solid #000000;
  -webkit-border-top-right-radius: -1px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: -1px;
  -moz-border-radius-topright: -1px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: -1px;
  border-top-right-radius: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: -1px;
}
.ui-grid {
  border: 1px solid #000000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.ui-grid-header-cell:not(:last-child) .ui-grid-vertical-bar {
  background-color: #000000;
}
.ui-grid-cell:not(:last-child) .ui-grid-vertical-bar {
  background-color: #000000;
}
.ui-grid-header-cell:last-child .ui-grid-vertical-bar {
  background-color: #000000;
}
.ui-grid-top-panel-background {
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(1, #eeeeee));
  background: -ms-linear-gradient(bottom, #cccccc, #eeeeee);
  background: -moz-linear-gradient(center bottom, #cccccc 0%, #eeeeee 100%);
  background: -o-linear-gradient(#eeeeee, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
}
.ui-grid-header {
  border-bottom: 1px solid #000000;
}
.ui-grid-top-panel {
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(1, #eeeeee));
  background: -ms-linear-gradient(bottom, #cccccc, #eeeeee);
  background: -moz-linear-gradient(center bottom, #cccccc 0%, #eeeeee 100%);
  background: -o-linear-gradient(#eeeeee, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
  -webkit-border-top-right-radius: -1px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: -1px;
  -moz-border-radius-topright: -1px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: -1px;
  border-top-right-radius: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: -1px;
}
.ui-grid-header-cell {
  background-color: inherit;
  border-right: 1px solid;
  border-color: #000000;
}
.ui-grid-header-cell:last-child {
  border-right: 0;
}
input[type="text"].ui-grid-filter-input {
  border: 1px solid #000000;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
input[type="text"].ui-grid-filter-input:hover {
  border: 1px solid #000000;
}
select.ui-grid-filter-select {
  border: 1px solid #000000;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
select.ui-grid-filter-select:hover {
  border: 1px solid #000000;
}
.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
  border: 1px solid #000000;
}
.ui-grid-menu .ui-grid-menu-inner {
  background: #eeeeee;
  border: 1px solid #000000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), inset 0 12px 12px -14px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), inset 0 12px 12px -14px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), inset 0 12px 12px -14px rgba(0, 0, 0, 0.2);
}

.ui-grid-menu .ui-grid-menu-inner ul li:hover {
  -webkit-box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
}
.ui-grid-menu .ui-grid-menu-inner ul li.ui-grid-menu-item-active {
  -webkit-box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
  background-color: #cecece;
}
.ui-grid-menu .ui-grid-menu-inner ul li:not(:last-child) {
  border-bottom: 1px solid #000000;
}
.ui-grid[dir=rtl] .ui-grid-cell:first-child,
.ui-grid[dir=rtl] .ui-grid-header-cell:first-child,
.ui-grid[dir=rtl] .ui-grid-footer-cell:first-child {
  border-right: 0;
}
.ui-grid[dir=rtl] .ui-grid-cell:last-child,
.ui-grid[dir=rtl] .ui-grid-header-cell:last-child {
  border-right: 1px solid #000000;
  border-left: 0;
}

.ui-grid[dir=rtl] .ui-grid-menu-button {
  background: #eeeeee;
  border: 1px solid #000000;
}
/*-- VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
/**
* @section Grid styles
*/
/**
* @section Header styles
*/
/** @description Colors for header gradient */
/**
* @section Grid body styles
*/
/** @description Colors used for row alternation */
/**
* @section Sort arrow colors
*/
/**
* @section Scrollbar styles
*/
/**
* @section font library path
*/
/*-- END VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
