.dam-details-header {
	font-weight: bold;
	background-color: #C4CEDE;
}

ul.row-list {
	list-style-type: none;
	padding: 0px;
    margin: 0px;
	float: left;
}

.tooltip-inner {
	max-width: none !important;
}

.row-list-btn {
	float: left;
	/*position: absolute;
	right: 0px;
	top: 1px;*/
	margin-right: 5px;
	margin-top: -4px;
}

.scroll-dam-btn {
	line-height: 2.0;
	padding: 1px 5px;
}

.row-list-container {
	position: relative;
}

.dam-details {
	display: table;
	width: 100%;
	border-collapse: collapse;
	margin: 4px;
}
.dam-details td, .dam-details th {
	border: 1px solid #000000;
	padding: 2px;
}

td .ui-grid-cell-contents {
	padding-left: 0px;
}

.no-margins {
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.no-padding-children > div {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.no-margins-children > div {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.favorite {
	font-weight: bold;
	font-style: italic;
}