@font-face {
  font-family: 'Glyphicons Regular';
  src: url('../fonts/glyphicons-regular/glyphicons-regular.eot');
  src: url('../fonts/glyphicons-regular/glyphicons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-regular/glyphicons-regular.woff2') format('woff2'), url('../fonts/glyphicons-regular/glyphicons-regular.woff') format('woff'), url('../fonts/glyphicons-regular/glyphicons-regular.ttf') format('truetype'), url('../fonts/glyphicons-regular/glyphicons-regular.svg#glyphiconsregular') format('svg');
}
.glyphicons-reg{
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Regular';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

