/* Loading indicator */
.ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
	width: 130px !important;
	background: #888888;
	border: 2px solid #FFFFFF;
}

.loading {
    position: relative;
    width: 96px;
    height: 96px;
}

.loading > div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

	-webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.outer {
    background: url('../img/holo_outer.png');
    -webkit-animation-name: rotate-outer;
    animation-name: rotate-outer;
}

.inner {
    background: url('../img/holo_inner.png');
    -webkit-animation-name: rotate-inner;
    animation-name: rotate-inner;
}

@keyframes rotate-outer {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {        
        -moz-transform: rotate(1080deg);
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@keyframes rotate-inner {
    0% {
        -moz-transform: rotate(720deg);
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
    100% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes rotate-outer {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(1080deg);
    }
}

@-webkit-keyframes rotate-inner {
    0% {
        -webkit-transform: rotate(720deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}