@CHARSET "UTF-8";

.ui-resizable-handle.ui-resizable-w {
	background-color: #DDDDDD;
	width: 10px;
	color: #222222;
	border: 1px solid #000000;
	background-image: url('../img/handle.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}

.breaktext{
	word-wrap: break-word;
	white-space: normal;
}

body{
	/*color: #204080;
	
  padding-top: 40px;
  padding-bottom: 40px;*/
  background-color: #eee;
}

.panel-title {
    color: inherit  !important;
    font-size: 18px  !important;
}

.ngHeaderContainer {
    background-color: inherit;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    font-family: Arial;
}

.ngCell {
    background-color: inherit;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    font-family: Arial;
    font-size: 12px;
}

.ngCellText {
    box-sizing: border-box;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 4px;
}

.mainTable{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 25px;
}


.underMenu{
	width: 0%;
	margin: 0 auto;
}

.panel-body {
	background-color: #f5f5f5;
}

.panel-default>.panel-heading{
	background-color: #C4CEDE;
}

.ng-table {
    /*border: 1px solid #000;*/
}

.table>thead>tr>th {
	border-bottom: none;
}

.ng-table-assoc{
	border: none;
}

.h5{
	font-weight: bold;
	padding-top: 30px !important;
	font-size: 16px;
}

.soggTable{
    background-color: white;
    width: 100%;
}

.soggTable .soggName{
	cursor: pointer;
	background-color: #f5f5f5;
}
	
.detailsTable{
	padding-bottom: 12px;
}

.detailsTable td{
	padding-left: 15px;
	padding-top: 7px;
}

.detailsLabel{
	font-weight: bold;
	font-style: italic;
}

.detailsTable form{
	/*margin-left: 25px;*/
}

.mainInfo{
	padding-left:35px;
}

.activeSogg{
	background-color: #f5f5f5;
}

.activeSoggTd{
	padding-bottom: 8px;
	font-weight: bold;
	font-size: 22px;
}

.editable-wrap {
    display: inline-block;
    margin: 0;
	padding: 10px 0px;
    white-space: nowrap;
    width: 100%;
}

.editable-wrap .editable-controls, .editable-wrap .editable-error{
    width: 100%;
}

.editable-wrap .editable-controls > input, .editable-wrap .editable-controls > select, .editable-wrap .editable-controls > textarea {
    margin-bottom: 0;
    width: 100%;
}


.detailsTable .btn-add{
	margin-top: 10px;
}

.btn-sogg{
	/*float:right;*/
	padding-bottom: 8px;
}

.dad_td{
	vertical-align: top;
}

.draggableSogg{
	cursor: pointer;
}

.container {
	width: 100% !important;
}

.ngdialog.ngdialog-assoc-table .ngdialog-content{
	width: 80% !important;
}

.table-assoc-container{
	width: 100%;
}


.table-assoc-container td{
	padding: 15px;
	width: 50%;
	vertical-align: top;
}

table.dati-scheda{
	width: 100%;
}


table.dati-scheda td, th{
	text-align: center;
	padding-left: 0;
}



.InsetUser {
    color: #204080;
    font-family: Arial,Tahoma,sans-serif,Times New Roman;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
	padding: 3px;
}


.TitoloScheda {
    color: #4060a0 !important;
    font-family: Arial,Tahoma,sans-serif,Times New Roman;
    font-size: 22px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
	padding-top: 70px;
}


.btn-dad{
    text-align: left;
    white-space: normal;
}

.header-block td{
	background-color: #ffffff
}

.header-block{
	position: fixed;
	width: 100%;
	z-index: 5;
}

.datepicker-input{
	display: inline-block;
	width: inherit;
}

.sogg-history{
	cursor:pointer;
	font-size: 13px;
	font-style: italic;
}

.current-sogg span{
	color: inherit;
}

.history-sogg td{
	background-color: #f7f7f7;
}

.history-sogg span{
	color: inherit;
	color: #777777;
}

.modal{
	z-index: 20000 !important;
}

.modal-backdrop{
	z-index: 15000 !important;
}


.ngdialog.ngdialog-theme-plain .ngdialog-content {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
    position: relative;
    width: 450px;
}

.history-sogg span.glyphicon{
	color:inherit;
}


.datiUpdate{
	font-size: 12px;
}

.dropdown-menu > li {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}

/*LOGIN FORM*/

.ngdialog.ngdialog-assoc-table.ngdialog-content.login-form{
	width: 330px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

 .filter-switch div{
	display: block;
 }
 
 .filter-block div.col-xs-12{
	height: 27px;
 }
 
 
.dd-menu-clickable > li {
	cursor: pointer;
}
 
.dd-menu-clickable > li > span.selected {
	font-weight: bold;
}

.dd-menu-clickable > li:hover {
	background-color: #CCCCCC;
}

.dd-menu-clickable {
   max-height: 150px;
   overflow: auto;
}
 
.resizer {
	background:-webkit-gradient(linear, left top, right top, from(#EEE), to(#C4CEDE));
	background:-webkit-linear-gradient(left, #EEE, #C4CEDE);
	background:linear-gradient(to right, #EEE, #C4CEDE);
	height:377px;
	width:14px;
	cursor:col-resize;
	-webkit-flex-shrink:0;
	-ms-flex-negative:0;
	flex-shrink:0;
	left:0 !important;
	position:relative;
	z-index:300;
	margin-top: 10px;
}

.resizer span{
	display:block;
	height:377px;
	background:url(../img/handle-horz.png) center center no-repeat
}
 
.greyInfo{
	color: #777777;
	font-style: italic;
}

.btnBox{
	-moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 0 !important;
    vertical-align: middle;
}

.btn-selected{
	color: #428bca !important;
	background-color: #fff !important;
}

.list-invisible {
	list-style-type: none;
	padding:0; 
	margin:0;
}

.gruppo-scheda{
	padding: 8px;
}

.gruppo-scheda > div{
	border: 3px solid #ddd;
	line-height: 1.42857;
	padding: 8px;
	vertical-align: top;
}


.gruppo-scheda  div.checkList{
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 0;
}

.gruppo-scheda  div.gruppoCheck{
	font-size: 16px;
    font-weight: bold;
	margin-bottom: 10px;
	border: 2px solid;
	width: 54px;
}

.gruppo-scheda  div.isChecked{
    font-weight: bold;
}
.gruppo-scheda  div.isNotChecked{
	color: gray;
	font-style: italic;
	text-decoration: line-through;
}

.hb{
	border-top: 1px solid #dddddd;
    padding-top: 10px !important;
}


.scheda-second-header > div{
	border: 3px solid #ddd;
	line-height: 1.42857;
	padding: 8px;
	vertical-align: top;
}

table.freccia{
	width: 100%;
	table-layout:fixed;
}


table.freccia tr.freccia-su td{
    border-bottom: 1px solid;
    border-left: 1px solid;
	text-align: center;
}

table.freccia tr.freccia-giu td{
    border-left: 1px solid;
    height: 20px;
}

.grado{
    font-size: 9px;
    margin-left: -100%;
    text-align: center;
}
.punta{
    float: right;
    margin-top: -20px;
    width: 21px;
}

.mov-frana{
	height: 190px;
}


