
.dams_list{
	/*width: 47%;
	height: 77%;
	position: absolute; */
}

#map-buttons {
	z-index: 1; 
	position: absolute; 
	/*bottom: 5px; */
/* 	left: 55px; */
	overflow-y: auto;
	cursor: auto;	
}


#map-buttons:hover {
	background-color: #FFFFFF !important;
}

.ngViewport.ng-scope {
    height: auto !important;
	max-height: 300px;
}

.ngTopPanel.ng-scope, .ngHeaderContainer {
    width: auto !important;
}

.damGrid{
	/*height: 100%; */
}

.menu{
	width: 100%;
	background-color: blue;
	margin-bottom: 10px;
}


.map{
	/*width: 50%;
	height:90%; */
	border-color: black;
	border-width: 1px;
	border-style: solid;
	/*position: absolute;
	right: 0px;
	margin-right: 10px; */
}

.form-inline{
	/*width: 50%;
	position: absolute;
	margin-top: 150px;*/
}

/* .ol-popup{
	width: 50%;
	position: absolute;
	margin-top: 150px;
} */

       .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        width: auto;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      } 
	  .ol-popup-closer:after {
        content: "\2716";
		color: blue;
		cursor: pointer;
      }
/* 
.ol-zoom{
	right: 0.5em;
	top: 2em;
}
.ol-zoom.ol-zoom-in{
	right: 0.5em;
}
.ol-zoom-out{
	right: 0.5em;
} */


