﻿/*--- MEDIA QUERIES ---*/
/* da xs a md*/
@media (max-width: 1199px) {

}

/* da md in su*/
@media (min-width: 991px) {
	
}
/* solo md */
@media (min-width: 991px) and (max-width: 1199px) {
}

/* da sm in giù */
@media (max-width: 991px) {
	.btn-lg-sm, .btn-group-lg-sm > .btn {
		border-radius: 6px 6px 6px 6px;
	  	font-size: 18px;
	  	line-height: 1.33;
	  	padding: 10px 16px;
	}
}

/* solo sm */
@media (min-width: 768px) and (max-width: 991px) {

}

/*da xs in giù */
@media (max-width: 767px) {
}