@CHARSET "UTF-8";

.header-block, .print-hide{
	display:none;
}


.collapse{
	display:block !important;
	height: auto !important;
}




.TitoloScheda {
	padding-top: 0 !important;
}


.sogg-history{
	font-size: inherit !important;
}

.activeSoggTd{
	padding-bottom: 0 !important;
}

.table {
    margin-bottom: 0 !important;
}

a:after{
	content:"" !important;
}

